#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* Color palette */
  --primary-1: #6757B7;
  --primary-2: #4B38A8;
  --primary-3: #311C99;
  --primary-4: #22117B;
  --primary-5: #17095F;

  --secondary1-1: #BB4AA9;
  --secondary1-2: #AB2996;
  --secondary1-3: #9C0A85;
  --secondary1-4: #7D026A;
  --secondary1-5: #610052;

  --secondary2-1: #429FA3;
  --secondary2-2: #24B693;
  --secondary2-3: #098085;
  --secondary2-4: #02676B;
  --secondary2-5: #004F53;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
