#root {
  width: 100vw;
  height: 100vh;

  /* Color palette */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #f5f5f5;
  --color-gray: #9e9e9e;
  --color-dark-gray: #616161;

  --color-light-purple: #e1bee7;
  --color-medium-purple: #9575cd;
  --color-dark-purple: #512da8;
  --color-darker-purple: #311b92;

}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: var(--color-medium-purple)
}